= form_for [:admin, @user, @identity], html: { class: 'fieldset-form' } do |f|
  = form_errors(@identity)

  .form-group.row
    .col-sm-2.col-form-label
      = f.label :provider, "提供者"
    .col-sm-10
      - values = Gitlab::Auth::OAuth::Provider.providers.map { |name| ["#{Gitlab::Auth::OAuth::Provider.label_for(name)} (#{name})", name] }
      = f.select :provider, values, { allow_blank: false }, class: 'form-control'
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :extern_uid, _("Identifier")
    .col-sm-10
      = f.text_field :extern_uid, class: 'form-control', required: true

  .form-actions
    = f.submit _('Save changes'), class: "btn btn-success"

