- add_to_breadcrumbs "Projects", admin_projects_path
- breadcrumb_title @project.full_name
- page_title @project.full_name, "项目"
- @content_class = "admin-projects"

%h3.page-title
  Project: #{@project.full_name}
  = link_to edit_project_path(@project), class: "btn btn-nr float-right" do
    %i.fa.fa-pencil-square-o
    编辑
%hr
- if @project.last_repository_check_failed?
  .row
    .col-md-12
      .card
        .card-header.alert.alert-danger
          最后一次版本仓库检查
          = "(#{time_ago_with_tooltip(@project.last_repository_check_at)})"
          失败. 查看
          = link_to 'repocheck.log', admin_logs_path
          获取错误信息。
.row
  .col-md-6
    .card
      .card-header
        项目信息：
      %ul.content-list
        %li
          %span.light 名称：
          %strong
            = link_to @project.name, project_path(@project)
        %li
          %span.light 命名空间：
          %strong
            - if @project.namespace
              = link_to @project.namespace.human_name, [:admin, @project.group || @project.owner]
            - else
              全局
        %li
          %span.light 拥有者：
          %strong
            - if @project.owner
              = link_to @project.owner_name, [:admin, @project.owner]
            - else
              (已删除)

        %li
          %span.light 创建者：
          %strong
            = @project.creator.try(:name) || '(已删除)'

        %li
          %span.light 创建时间：
          %strong
            = @project.created_at.to_s(:medium)

        %li
          %span.light ID:
          %strong
            = @project.id

        %li
          %span.light http:
          %strong
            = link_to @project.http_url_to_repo, project_path(@project)
        %li
          %span.light ssh:
          %strong
            = link_to @project.ssh_url_to_repo, project_path(@project)
        - if @project.repository.exists?
          %li
            %span.light Gitaly storage name:
            %strong
              = @project.repository.storage
          %li
            %span.light Gitaly relative path:
            %strong
              = @project.repository.relative_path

          %li
            = render 'shared/storage_counter_statistics', storage_size: @project.statistics&.storage_size, storage_details: @project.statistics

          %li
            %span.light 最后提交：
            %strong
              = last_commit(@project)

          %li
            %span.light Git LFS 状态:
            %strong
              = project_lfs_status(@project)
              = link_to icon('question-circle'), help_page_path('workflow/lfs/manage_large_binaries_with_git_lfs')
        - else
          %li
            %span.light 版本库：
            %strong.cred
              不存在

        - if @project.archived?
          %li
            %span.light archived:
            %strong project is read-only

        = render_if_exists "shared_runner_status", project: @project

        %li
          %span.light 访问：
          %strong
            %span{ class: visibility_level_color(@project.visibility_level) }
              = visibility_level_icon(@project.visibility_level)
              = visibility_level_label(@project.visibility_level)

    = render_if_exists 'admin/projects/geo_status_widget', locals: { project: @project }

    .card
      .card-header
        转移项目
      .card-body
        = form_for @project, url: transfer_admin_project_path(@project), method: :put do |f|
          .form-group.row
            .col-sm-3.col-form-label
              = f.label :new_namespace_id, "命名空间"
            .col-sm-9
              .dropdown
                = dropdown_toggle('搜索命名空间', { toggle: 'dropdown', field_name: 'new_namespace_id' }, { toggle_class: 'js-namespace-select large' })
                .dropdown-menu.dropdown-select
                  = dropdown_title('命名空间')
                  = dropdown_filter("搜索命名空间")
                  = dropdown_content
                  = dropdown_loading

          .form-group.row
            .offset-sm-3.col-sm-9
              = f.submit '转移', class: 'btn btn-primary'

    .card.repository-check
      .card-header
        版本库检查
      .card-body
        = form_for @project, url: repository_check_admin_project_path(@project), method: :post do |f|
          .form-group
            - if @project.last_repository_check_at.nil?
              此版本库还未被检查过。
            - else
              此版本仓库最后检查时间在
              = @project.last_repository_check_at.to_s(:medium) + '.'
              该检查
              - if @project.last_repository_check_failed?
                = succeed '.' do
                  %strong.cred 失败
                查看
                = link_to 'repocheck.log', admin_logs_path
                获取错误信息。
              - else
                正常.

            = link_to icon('question-circle'), help_page_path('administration/repository_checks')

          .form-group
            = f.submit '触发版本仓库检查', class: 'btn btn-primary'

  .col-md-6
    - if @group
      .card
        .card-header
          %strong= @group.name
          群组成员
          %span.badge.badge-pill= @group_members.size
          .float-right
            = link_to admin_group_path(@group), class: 'btn btn-sm' do
              = icon('pencil-square-o', text: '管理权限')
        %ul.content-list.members-list
          = render partial: 'shared/members/member', collection: @group_members, as: :member, locals: { show_controls: false }
        .card-footer
          = paginate @group_members, param_name: 'group_members_page', theme: 'gitlab'

    = render 'shared/members/requests', membership_source: @project, requesters: @requesters, force_mobile_view: true

    .card
      .card-header
        %strong= @project.name
        项目成员
        %span.badge.badge-pill= @project.users.size
        .float-right
          = link_to icon('pencil-square-o', text: 'Manage access'), project_project_members_path(@project), class: "btn btn-sm"
      %ul.content-list.project_members.members-list
        = render partial: 'shared/members/member', collection: @project_members, as: :member, locals: { show_controls: false }
      .card-footer
        = paginate @project_members, param_name: 'project_members_page', theme: 'gitlab'
