= form_for [@group, @milestone], html: { class: 'milestone-form common-note-form js-quick-submit js-requires-input' } do |f|
  = form_errors(@milestone)
  .row
    .col-md-6
      .form-group.row
        .col-form-label.col-sm-2
          = f.label :title, "标题"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control", required: true, autofocus: true
      .form-group.row.milestone-description
        .col-form-label.col-sm-2
          = f.label :description, "描述"
        .col-sm-10
          = render layout: 'projects/md_preview', locals: { url: group_preview_markdown_path } do
            = render 'projects/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: '撰写里程碑描述...', supports_autocomplete: false
          .clearfix
          .error-alert
    = render "shared/milestones/form_dates", f: f

  .form-actions
    - if @milestone.new_record?
      = f.submit '创建里程碑', class: "btn-success btn"
      = link_to "取消", group_milestones_path(@group), class: "btn btn-cancel"
    - else
      = f.submit '更新里程碑', class: "btn-success btn"
      = link_to "取消", group_milestone_path(@group, @milestone), class: "btn btn-cancel"
